// Warning: Do not remove the following line.
// vyos-config-version: "bgp@4:broadcast-relay@1:cluster@1:config-management@1:conntrack@3:conntrack-sync@2:container@1:dhcp-relay@2:dhcp-server@6:dhcpv6-server@1:dns-dynamic@1:dns-forwarding@4:firewall@10:flow-accounting@1:https@4:ids@1:interfaces@30:ipoe-server@1:ipsec@12:isis@3:l2tp@4:lldp@1:mdns@1:monitoring@1:nat@5:nat66@1:ntp@3:openconnect@2:ospf@2:policy@5:pppoe-server@6:pptp@2:qos@2:quagga@11:rip@1:rpki@1:salt@1:snmp@3:ssh@2:sstp@4:system@26:vrf@3:vrrp@4:vyos-accel-ppp@2:wanloadbalance@3:webproxy@2"
// Release version: 1.4-rolling-202308060317

{% include "include/system_base.j2" %}

{% if system_ntp is defined %}
{% include "include/system_ntp.j2" %}
{% endif %}

{% if system_dns is defined %}
{% include "include/system_dns.j2" %}
{% endif %}

{% if dns_forwarding is defined %}
{% include "include/system_dns_forward.j2" %}
{% endif %}

{% include "include/system_ssh.j2" %}

{% if system_interfaces is defined %}
{% include "include/system_interfaces.j2" %}
{% endif %}

{% include "include/system_syslog.j2" %}

{% include "include/system_accounts.j2" %}

{% if system_banner is defined %}
{% include "include/system_banner.j2" %}
{% endif %}


{% if system_snmp is defined %}
{% include "include/system_snmp.j2" %}
{% endif %}


{% if system_dhcp_relay is defined %}
{% include "include/system_dhcp_relay.j2" %}
{% endif %}

{% if system_dhcp_server is defined %}
    {% include "include/system_dhcp_server.j2" %}
{% endif %}
