---
apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    name: argocd

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: kube-system
spec:
  chart: argo-cd
  version: 5.46.0
  repo: https://argoproj.github.io/argo-helm
  targetNamespace: argocd
  valuesContent: |-
    dex:
      enabled: false
    server:
      extraArgs:
        - --insecure
      config:
        repositories: |
          - type: helm
            name: stable
            url: https://charts.helm.sh/stable
          - type: helm
            name: argo-cd
            url: https://argoproj.github.io/argo-helm
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-staging
          kubernetes.io/ingress.class: traefik
          traefik.ingress.kubernetes.io/router.middlewares: kube-system-redirect-https@kubernetescrd
        hosts:
          - argocd.infra.mout.ch
        tls:
          - hosts:
              - argocd.infra.mout.ch
            secretName: argocd.infra.mout.ch-tls
      applicationSet:
        enabled: true
