---
apiVersion: v1
kind: Namespace
metadata:
  name: cilium
  labels:
    name: cilium
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  chart: cilium/cilium
  version: 1.14.3
  repo: https://helm.cilium.io/
  targetNamespace: cilium
  valuesContent: |-
    operator
    global:
      tag: "v1.14.3"
      containerRuntime:
        integration: "containerd"
        socketPath: "/var/run/k3s/containerd/containerd.sock"
      kubeProxyReplacement: "strict"
