{% if acls.default_action is defined -%}
    default-action {{ acls.default_action }}
{% endif -%}
{% if acls.description is defined -%}
    description "{{ acls.description }}"
{% endif -%}
{% if acls.log is defined and acls.log == true %}
    enable-default-log
{% endif %}
{% for rule in acls.rules -%}
    rule {{ loop.index }} {
    action {{ rule.action }}
    {% if rule.destination is defined -%}
        destination {
        {% if rule.destination.address is defined -%}
            address {{ rule.destination.address }}
        {% elif rule.destination.port is defined -%}
            port {{ rule.destination.port }}
        {% elif rule.destination.fqdn is defined -%}
            fqdn {{ rule.destination.fqdn }}
        {% endif -%}
        }
    {% endif -%}

    {% if rule.protocol is defined -%}
        protocol {{ rule.protocol}}
    {% endif -%}
    {% if rule.icmp is defined %}
        icmp {
            type-name {{ rule.icmp.type_name }}
        }
    {% endif %}
    {% if rule.log is defined and rule.log == true %}
    log "enable"
    {% endif %}

    {% if rule.protocol is undefined and (( rule.destination_port is defined ) or (rule.source_port is defined))-%}
        protocol tcp_udp
    {% endif -%}

    {% if rule.state is defined -%}
        state {
        {% for state in rule.state -%}
            {{ state }} enable
        {% endfor -%}
        }
    {% endif -%}


    {% if rule.source is defined -%}
        source {
        {% if rule.source.address is defined -%}
            address {{ rule.source.address }}
        {% elif rule.source.port is defined -%}
            port {{ rule.source.port }}
        {% elif rule.source.fqdn is defined -%}
            fqdn {{ rule.source.fqdn }}
        {% elif rule.source.geoip is defined -%}
            geoip {
            country-code {{ rule.source.geoip.country_code }}
            inverse-match {{ rule.source.geoip.inverse_match | default("disable") }}
            }

        {% endif -%}
        }
    {% endif -%}
    }
{% endfor -%}